<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodService</title>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts/MainScript.js"></script>
</head>
<body>

<header class="header">
    <div class="header__logo"><a href="/">FoodService</a></div>
    <div class="header__menu">
        <ul>
            <li><a href="/login">Sign in</a></li>
            <li><a href="/register">Sign up</a></li>
        </ul>
    </div>
</header>

<div class="content" id="content"></div>

</body>
</html>